<header>
Tiny App!
</header>

<% if(!user) { %>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
  <% } else { %>
    <form method="POST" action="/logout">
    <button type = "submit">Logout</button>
    </form>
    <%= user['email'] %>
  <% } %>
