<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
  <%- include partials/_header.ejs %>
  </header>
<body>
  <ul>
    <% for(key in urls) { %>
    <li><%= key %> - <%= urls[key] %>
  </li>
    <form method="POST" action="/urls/9sm5xK/delete">
<a href="/urls/<%= key %>">Edit</a> <button>Delete</button>
</form>

  <% } %>
</ul>
<a href ="#">Shortened URL</a>
</body>
</html>